<ul>
    <li><a href="/dashboard" <% if (current == '/') { %>class="active"<% } %>>Bedrijf</a></li>
    <li><a href="/medewerkers"<% if (current == '/medewerkers') { %>class="active"<% } %>>Medewerkers</a></li>
    <li><a href="/financiers" <% if (current == '/financiers') { %>class="active"<% } %>>Financiers</a></li>
    <li><a href="/leveranciers" <% if (current == '/leveranciers') { %>class="active"<% } %>>Leveranciers</a></li>
    <li><a href="/klanten" <% if (current == '/klanten') { %>class="active"<% } %>>Klanten</a></li>
    <li><a href="/omgeving" <% if (current == '/omgeving') { %>class="active"<% } %>>Omgeving</a></li>
</ul>

<ul>
    <li><a href="/account" <% if (current == '/account') { %>class="active"<% } %>>Account</a></li>
    <li><a href="/" <% if (current == '/') { %>class="active"<% } %>>Log uit</a></li>
</ul>