<%- include('./partials/head')%>
<%- include('partials/navigatie', {current: '/dashboard'}); %>

<header>
    <nav>
        <a href="#">
            <h1>Hand- <br>
            Footprint</h1>
        </a>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </nav>
</header>
<h1>Dashboard</h1>


<%- include('./partials/foot')%>